Django==3.1.13
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
drf-yasg==1.20.0
Pillow==9.0.0
psycopg2==2.8.6
django-cuser==2017.3.16
channels==3.0.4
channels-redis==3.3.0
